[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
discord = "*"
alembic = "*"
sqlalchemy = "*"
psycopg2 = "*"
table2ascii = "*"

[dev-packages]
jurigged = "*"

[requires]
python_version = "3.9"
